body{
	font-family: 'Open Sans';

}
.tuitt-button, .apply-button{
	background-color: #c2195b;
	border-radius:150px;
	height: 40px;
	color: white;
	width: 110px;
	border: none;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 38;
} 
.right-nav {
    float: right;
    margin-right: 6rem;
    font-weight: bold;
}





.title, .title-2 {
  font-family: 'Zilla Slab', serif;
  font-size: 42px;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
}

.title, .subtitle{
	text-align: right;	
	color: white;
	padding-left: 50%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.intro-description, .prefooter-description{
	padding: 0px 20%;
	text-align: justify;
}

#bg-image {
    background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
}


.front-bg {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    text-align: right;
    display: inline-block;
    padding-right: 100px;
    
}


.title{
	font-size: 45px;
}
.subtitle{
	font-size: 34;
}

.title-2{
	text-align: center;
}


.pre-footer {
    background-color: #f7fbfb;
    padding: 70px 0;
    text-align: center;

}


.book-button {
    background-color: #336589;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 140px;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px 0;
}